body{
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
}
@media(max-width:767px) {
    body{
        padding: 36px;
    }
}
@media(min-width:768px) {
    body {
        background: #ececec;
    }
}

.header-top-name {
    margin-bottom: 16px;
    font-size: 24px;
    color: #8769f7;
}
.header-top-name__sub{
    display: block;
    font-size: 18px;
    font-weight: normal;
}
.header-top-name:before{
    content:'';
    width: 150px;
    height: 150px;
    display:block;
    margin-bottom:8px;
    background: url('./img/face.jpg') no-repeat center top, radial-gradient(rgb(159, 127, 102), rgb(153, 119, 94));
    background-size: 120px auto;
    margin-bottom: 24px;
    border-radius: 50%;
    box-shadow: 0 2px 16px rgba(0,0,0,0.4);
}
.info-list{
    /* margin: auto; */
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */
}
.info-list > li{
    margin-bottom:4px;
    /* display: flex;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -9999px; */
}
.info-list > li > a{
    display: inline-block;
    text-decoration: underline;
}
.info-list > li > a:before{
    content:'';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -1px 8px 0 0;
}
.info-list__email > a:before{
    background: url('./img/ico-email-64px.png') no-repeat center;
    background-size: 16px auto;
}
.info-list__github > a:before{
    background: url('./img/ico-github-64px.png') no-repeat center;
    background-size: 16px auto;
}
.info-list__notion > a:before{
    background: url('./img/ico-notion-64px.png') no-repeat center;
    background-size: 25px auto;
}
.info-list__insta > a:before{
    background: url('./img/ico-sns-insta-64px.png') no-repeat center;
    background-size: 16px auto;
}
.info-list > li:last-child{
    margin-right: 0
}
.content-box{
    margin: 24px auto;
}
.content-box:nth-child(2n) {
    /* background: #ececec;
    padding: 16px;
    border-radius: 16px; */
}
.content-box__head{
    position: relative;
    margin: 60px auto 16px auto;
    font-size: 18px;
    color: #8769f7;
}
.content-box__head > span{
    position: relative;
    padding: 16px 16px 16px 0; 
    background: #fff;
}
.content-box__head:before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    background: #e5deff;
}
.content-box__profile-txt{
    word-wrap: break-word;
}

.content-box--profile.is-5-lines-only .content-box__profile-txt{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 7.5em;
}

.experience-list > li {
    position: relative;
    margin-bottom: 36px;
    border-bottom:1px solid #e0e0e0
}
.experience-list > li:last-child{
    border-bottom : 0
}
.experience-list__date{
    margin: 3px auto 8px auto;
    font-size:14px;
    color:#888
}
.experience-list__name{
    display: block;
    font-weight: bold;
}
.experience-list__name > span{
    margin-right: 8px
}
.experience-list__name > a {
    display: inline-block;
    font-weight: normal;
    color: #333;
}
.experience-list__txt{
    position: relative;
    margin-bottom: 16px;
    padding-left: 16px;
    color:#888
}
.experience-list__item-box{
    position: relative;
    margin-bottom: 16px;
}
.experience-list__txt:before{
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
}
.experience-box__head{
    color:#333;
    /* font-weight: bold; */
}

.experience-box__item-list{
    overflow: hidden;
}
.experience-box__item-list > li{
    float: left;
    margin: 0 8px 8px 0;
    padding: 5px 8px 3px 8px;
    font-size: 12px;
    font-weight: bold;
    background: #eaeaea;
    border-radius: 22px;
}
.table-box__q{
    position: relative;
    font-weight: bold;
    padding: 16px 16px 10px 28px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}
.table-box__q:before{
    content: 'Q.';
    margin-right: 6px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 12px;
}
.table-box__a{
    display: none;
    padding: 16px 30px;
    margin: 0 auto 36px auto;

}
.table-box__a.is-show{
    display: block;
    background: #f8f8f8;
}
.side-project-list > li > ul {
    position: relative;
}

.side-project-list > li {
    position: relative;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0.2px 8px rgba(0,0,0,0.08);
    border: 1px solid #e0e0e0;
}
.side-project-list > li.is-active{
    box-shadow: 0 0.2px 15px #cdbfff;
}
.side-project-list__head{
    display: inline-block;
    font-size: 16px;
    border-radius: 26px;
}
.side-project-list__date{
    margin: 0 auto 8px auto;
    color: #888;
    font-size: 14px;
}

.content-box__profile-more-btn{
    margin: 8px auto 0 auto;
    line-height: 26px;
    height: 26px;
    padding: 0 8px;
    border-radius: 30px;
    background: #8669f7;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.link-list > li{
    margin: 4px auto;
}
.link-list > li > a:before{
    content: '';
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: -3px 6px 0 0;
    vertical-align: middle;
    background: url('./img/ico-link-24px.png') no-repeat center;
    background-size: 13px auto;
}
.link-list > li > a{
    display: inline-block;
    text-decoration: underline;
    color:#8569f7
}
.point-link{
    display: inline-block;
    color: #8569f7;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.experience-list__inner-box{
    padding-left: 16px;
    margin-bottom: 16px;
    color:#888
}
.experience-list__inner-box:before{
    content: '> 개인의 성장';
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}
.list-note{
    padding: 16px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    margin-top: 16px;
}
.list-note__head{
    margin-bottom: 6px;
    display: block;
    font-size: 16px;
}

.list-note__list > li{
    margin-bottom:2px;
    color:#888
}
.list-note__list > li:last-child{
    margin-bottom:0
}

@media(min-width: 768px) {
    .fixed-box{
        width: 260px;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        margin: 8px;
    }
    .fixed-box__scroll-box{
        padding: 36px 16px 16px 24px;
        overflow-y: auto;
        height: 100%;
    }

    .contents-wrap{
        width: calc(100% - 276px);
        overflow-y: auto;
        height: 100%;
        padding: 36px 24px 36px 16px;
        position: absolute;
        right: 0;
    }
    .fixed-box, .contents-wrap{
        background: #fff;
    }
    .contents-wrap > .content-box:first-child .content-box__head{
        margin-top:0
    }

}
@media(min-width: 960px) {
    .fixed-box {
        width: 320px;
    }
    .contents-wrap{
        width: calc(100% - 336px);
    } 
}

.content-box__skill-list > li {
    padding: 8px 0;
}
.content-box__skill-list > li > span {
    display: inline-block;
    width: 120px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.is-graph {
    display: inline-block;
    width: 120px;
    height: 16px;
    vertical-align: middle;
    background: #e0e0e0;
}
.is-graph:before{
    content:'';
    display: block;
    height: 16px;
    background: #4f23ff;
}

.is-graph, .is-graph:before {
    border-radius: 12px;
}
.is-graph.is-graph-1:before {
    width: calc(120px*1/5);
}
.is-graph.is-graph-2:before {
    width: calc(120px*2/5);
}
.is-graph.is-graph-3:before {
    width: calc(120px*3/5);
}
.is-graph.is-graph-4:before {
    width: calc(120px*4/5);
}
.is-graph.is-graph-5:before {
    width: calc(120px*5/5);
}

@media(min-width: 768px) {
    .is-graph {
        display: inline-block;
        width: 150px;
        height: 16px;
        vertical-align: middle;
        background: #e0e0e0;
    }
    .is-graph.is-graph-1:before {
        width: calc(150px*1/5);
    }
    .is-graph.is-graph-2:before {
        width: calc(150px*2/5);
    }
    .is-graph.is-graph-3:before {
        width: calc(150px*3/5);
    }
    .is-graph.is-graph-4:before {
        width: calc(150px*4/5);
    }
    .is-graph.is-graph-5:before {
        width: calc(150px*5/5);
    }
}
.content-box--info, .contents-wrap > .content-box{
    margin-top:0
}
.copyright{
    margin: 8px auto;
}
.txt-sub-title{
    z-index: 1;
    position: relative;
    color: #000;
}
.txt-sub-title:before {
    content: '';
    z-index: -1;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFEB3B;
}
/* .is-scroll-animation {
    animation-duration: 0.7s;
    animation-delay: 0s;
    opacity: 1;
} */
.is-scroll-animation{
    opacity: 0;
    transform: translateY(50px);
    transition: all ease 0.5s;
}
.is-scroll-animation-show {
    opacity: 1;
    transform: translateY(0);
    transition: all ease 0.5s;
}